@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
#texto4{
    font-family: "Dancing Script", cursive;
    background-color: salmon;
    font-size: x-large;
    margin: 0;
}
#texto5{
    background-color: aqua;
    column-count: 3;
    column-gap: 20px;
    margin: 0;
    padding: 16px;
    column-rule: solid 1px black;
}
#texto5 h2{
    column-span: all;
}