#caja1{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 100px){
    #caja1{
        display: none;
    }
}
#caja2{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 200px){
    #caja2{
        display: none;
    }
}
#caja3{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 300px){
    #caja3{
        display: none;
    }
}
#caja4{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 400px){
    #caja4{
        display: none;
    }
}
#caja5{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width <  500px){
    #caja5{
        display: none;
    }
}
#caja6{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 600px){
    #caja6{
        display: none;
    }
}
#caja7{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 700px){
    #caja7{
        display: none;
    }
}
#caja8{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 800px){
    #caja8{
        display: none;
    }
}
#caja9{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 900px){
    #caja9{
        display: none;
    }
}
#caja10{
    background-color: forestgreen;
    font-size: 2em;
    padding: 1em;
}
@media screen and (width < 1000px){
    #caja10{
        display: none;
    }
}