body{
    background-color: rgba(91, 94, 247, 0.825);
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#contenedor{
    background-color: beige;
    max-width:790px ; 
    margin: 0 auto;
    min-height: 100vh;
}
header{
    text-align: center;
    padding: 1em;
}
header img{
    width: 300px  
}
header h1{
    font-size: 2em;
    margin: 0;
    color: #6495ed;
}
nav{
    background-color: #6495ed;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 1em;
    display: inline-block;
    transition: 0.3s;
}
nav a:hover{
    background-color: rgba(0, 0, 255, 0.133);
}


main{
    padding: 0 2em;
}
main img{
    width: 35%;
    vertical-align: top;

}
main span{
    width: 64%;
    font-size: 1rem;
    display: inline-block;
}
nav:first-child{
    padding: 2em;
}
#accion{
    background-color: #6495ed;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    color: aliceblue;
    font-size:x-large;
}
#testimonios{
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5;
}
#accion a{
    background-color: aliceblue;  
    padding: 0.5em; 
    text-decoration: none;
    border-radius: 20%;
}
#accion a:hover{
    background-color: grey;
    color: aliceblue;
}
#testimonios{
    padding: 0 2rem;
    text-align: center;
}
#testimonios > div > img{
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.3s;
}
#testimonios > div{
    font-size: 1rem;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
#testimonios > div > span{
    font-size: 1.5em;
    font-style: italic;
}
#testimonios > div > img:hover{
    filter: grayscale(0%);
}
footer{
    background-color: gray;
    padding: 1em;
    font-size: medium;
    display: inline-block;
}
footer img{
    width: 10%;
}
#sede{
    width: 100%;
}
iframe{
    padding: 1em    ;
    border-width: 0;
    width: 100%;
    box-sizing: border-box;
}
#sede2{
    padding: 1em;
}