#origen{
    color: red;
}
#cascada{
    color: aliceblue;
}
#cascada{
    color: aquamarine;
}
#div{
    color: chartreuse !important;
}
.claseEsp{
    color: cornflowerblue;
}
#idEsp{
    color: cyan;
}