*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    backdrop-filter: blur(rgb(5px));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 6px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
